/* 1. Elements
-------------------------------------------------- */

* { 
    margin: 0; 
    padding:0; 
}

html { 
    padding: 0; 
}

body { 
    color: #333333; 
    font: normal 0.8em tahoma, sans-serif; 
    line-height: 140%;
    background-color: #d5ffd6;
}

a { 
    color: #111; 
    border: 0; 
    outline: none; 
}

a:hover { 
    text-decoration: none;
}

hr { 
    border: 0 dashed #ccc; 
    border-top-width: 1px; 
    clear: both; 
    height: 0; 
}

hr.divider { 
    margin: 10px 0; 
}

sub, sup	{ 
    font-size: .8em; 
    position: relative; 
}

sub			{ 
    top: .5em; 
}

sup			{ 
    top: -.5em; 
}

/* 2. Structure
-------------------------------------------------- */

.body { 
    position: relative; 
    padding: 20px;
}

#header	{ 
    padding: 5px 20px 0 20px; 
    border-top: 5px solid; 
}

#main {
    padding: 0; 
    overflow: auto; 
}

.block { 
    margin: 0 10px 25px 10px; 
}

/* 3. Headings
-------------------------------------------------- */

h2	{ color:#a01517; font-size:1.1em; text-shadow:0 1px 0 #fff; margin-bottom:15px; padding:8px 8px 8px 40px; background-color:#ccc; background-position:10px 50%; background-repeat:no-repeat; }
h3	{ color:#000; font-size:1.1em; font-weight:900; margin:10px 0 5px; background-position:10px 50%; background-repeat:no-repeat; }
h5	{ color:#000; font-size:1.1em; font-weight:900; margin:10px 0 5px; background-position:10px 50%; background-repeat:no-repeat; border-bottom: 1px solid #000000; }

.admin		{ background-image:url(../../../images/icons/default/prefs.png); }
.folder		{ background-image:url(../../../images/icons/default/folder.png); }
.info		{ background-image:url(../../../images/icons/default/info.png); }
.message	{ background-image:url(../../../images/icons/default/message.png); }
.online		{ background-image:url(../../../images/icons/default/online.png); }
.page		{ background-image:url(../../../images/icons/default/page.png); }
.pfs		{ background-image:url(../../../images/icons/default/pfs.png); }
.plugin		{ background-image:url(../../../images/icons/default/plugin.png); }
.prefs		{ background-image:url(../../../images/icons/default/prefs.png); }
.queue		{ background-image:url(../../../images/icons/default/update.png); }
.stats		{ background-image:url(../../../images/icons/default/stats.png); }
.users		{ background-image:url(../../../images/icons/default/users.png); }
.warning	{ background-image:url(../../../images/icons/default/warning.png); }

div.error, div.warning, div.done, div.help		{ line-height:2em; margin:20px 0; padding:10px 50px; background-position:15px 50%; background-repeat:no-repeat; clear:both; }
div.error									{ color:#d8000c; background-color:#ffbaba; background-image:url(../../../images/icons/default/error.png); border:1px solid #d8000c; }
div.warning									{ color:#9f6000; background-color:#feefb3; background-image:url(../../../images/icons/default/warning.png); border:1px solid #9f6000; }
div.done										{ color:#4f8a10; background-color:#dff2bf; background-image:url(../../../images/icons/default/done.png); border:1px solid #4f8a10; }
div.help										{ color:#00529b; background-color:#bde5f8; background-image:url(../../../images/icons/default/help.png); border:1px solid #00529b; }

/* 4. Tables
-------------------------------------------------- */

table td 	{ vertical-align:top; }

table.flat	{ border-collapse:collapse; width:100%; border: 0 !important}
table.flat td 	{ padding:2px; margin:0; border:0 !important; }

table.cells 	{ border-collapse:collapse; width:100%; }
table.cells th,
table.cells td	{ padding:4px 8px; border:1px solid #cccccc; }
table.cells tr:hover td { background: #cccccc; }

table.cells th { vertical-align: middle; }

table.cells_auto_width { width: auto; border-collapse:collapse; }
table.cells_auto_width th,
table.cells_auto_width td { padding:4px 8px; border:1px solid #cccccc; }

table.list 	{ border-collapse:collapse; width:100%; }
table.list td 	{ padding:5px 5px 5px 0; border-bottom:1px dashed #ccc; }

table.fico 		{ border-collapse:collapse; width:100%; }
table.fico td		{ padding:5px 0; margin:0; border:0; }
table.fico td img	{ margin-right:10px; vertical-align:middle; }

#main table,
#main th,
#main td { border: 1px solid #cccccc; }

#main th,
#main td { padding: 3px 5px; }

.coltop		{ text-align:center; vertical-align:middle; font-size:.9em; background-color:#ddd!important; color:#000; }
.coltop img	{ vertical-align:middle; }
.centerall 	{ text-align:center; vertical-align:middle; }
.valid 		{ height:48px; text-align:center; vertical-align:middle; border:0!important; }

/* 5. Forms
-------------------------------------------------- */

form							{ }
input, select, textarea, button	{ font:normal 1em Georgia; }
input, select, button			{ padding:2px; }
label                           { display: block; margin: 10px 0}
label input					    { vertical-align:middle; }
button::-moz-focus-inner		{ padding:0; border:none; }
table.form                      { width: 100%; }
table.form td { padding: 5px; border: 1px solid #cccccc}
table.form input                { width: 250px }
.field                          { margin: 10px 0; padding-bottom: 10px; border-bottom: 1px solid #cccccc}
select {
    font-family: tahoma, sans-serif;
}

/* 6. Misc
-------------------------------------------------- */

.odd	{ background-color:#fff!important; }
.even	{ background-color:#f1f1f1!important; }
.code 	{ color:#000; background:#e3e3e3; border:1px solid #ccc; padding:2px 15px; margin:5px 0; font-family:monospace; font-size:1.1em; white-space:pre-wrap; }

.clear	{ clear:both; }
.lhn	{ line-height:normal; }
.strong	{ font-weight:900; }
.italic	{ font-style:italic; }

.small	{ font-size:.9em!important; line-height:1.6em; }
.large	{ font-size:1.1em!important; }

.lower		{ text-transform:lowercase; }
.upper		{ text-transform:uppercase; }
.capital	{ text-transform:capitalize; }

.hidden		{ display:none; }
.invis		{ visibility:hidden; }

.textleft		{ text-align:left; }
.textcenter		{ text-align:center; }
.textright		{ text-align:right; }
.textjustify	{ text-align:justify; }

.floatleft		{ float:left; }
.floatright		{ float:right; }

.grey			{ color:#999; }

.colleft		{ float:left; margin:5px 15px 0 0; }
.colright		{ float:right; margin:5px 0 0 15px; }

.margintop10	{ margin-top:10px; }
.marginright10	{ margin-right:10px; }
.marginbottom10	{ margin-bottom:10px; }
.marginleft10	{ margin-left:10px; }
.margin10		{ margin:10px!important; }
.margin0		{ margin:0!important; }

.paddingtop10	{ padding-top:10px; }
.paddingright10	{ padding-right:10px; }
.paddingbottom10{ padding-bottom:10px; }
.paddingleft10	{ padding-left:10px; }
.padding10		{ padding:10px!important; }
.padding0		{ padding:0!important; }

.border0		{ border:0!important; }

.width5		{ width:5%; }
.width10	{ width:10%; }
.width15	{ width:15%; }
.width20	{ width:20%; }
.width25	{ width:25%; }
.width30	{ width:30%; }
.width35	{ width:35%; }
.width40	{ width:40%; }
.width45	{ width:45%; }
.width50	{ width:50%; }
.width55	{ width:55%; }
.width60	{ width:60%; }
.width65	{ width:65%; }
.width70	{ width:70%; }
.width75	{ width:75%; }
.width80	{ width:80%; }
.width85	{ width:85%; }
.width90	{ width:90%; }
.width95	{ width:95%; }
.width100	{ width:100%; }

.desc		{ font-size:.9em; margin:5px 0; padding:5px 0; background:#e9e9e9; border:1px solid #ccc; border-left:0; border-right:0; overflow:auto; }
.desc strong	{ color:#fff; margin-right:8px; padding:2px 6px; background:#aaa; }

.combox		{ font-size:2em; text-align:center; margin:0 10px 5px 0; padding-top:6px; height:42px; width:48px; background:url(../img/comments.png) no-repeat 0 0; float:left; }
.textbox	{ margin-bottom:10px; overflow:auto; }

.readmore	{ display:block; }
.download	{ margin:10px 0; padding:10px 0 10px 84px; background:url(../img/download.png) no-repeat 10px 12px; border:1px dashed #c00; }

/* 7. Pagination
-------------------------------------------------- */

.paging		{ margin:10px 0 20px 0; text-align:center; font-size:.9em; }
.paging img	{ vertical-align:-3px; }
.paging span	{ border:1px dashed #7f7772; padding:2px 8px; margin:1px; }

.pagenav_prev, .pagenav_next, .pagenav_first, .pagenav_last, .pagenav_pages, .pagenav_current { padding:2px 6px; margin:1px; border:1px dashed #7f7772; }
.pagenav_prev a, .pagenav_next a, .pagenav_first a, .pagenav_last a, .pagenav_pages a	{ color:#555; }
.pagenav_current	{ font-weight:900; color:#fff; background:none!important; border:none!important; }
.pagenav_current a	{ color:#555; }
.pagenav_small		{ text-align:right; font-size:.9em; }

.spaced				{ border:none!important; margin:0 8px!important; padding:0!important; }

/* 12. Lists
-------------------------------------------------- */

ul.bullets li	{ padding-left:25px; background:url(../img/bullets.png) no-repeat 5px 2px; }
ol			{ margin-left:20px; list-style-type:decimal; }

/* Komus
-------------------------------------------------- */

#content_wrap {
    width: 100%;
    border-top: 2px solid #ccc;
}

#left_col {
    width: 150px;
    padding: 10px;
}

#left_col .steps li {
    margin: 10px 0;
    background-color: #cccccc;
    border: 1px solid #666666;
}

#left_col .steps li:hover {
    background-color: #999999;
}

#left_col .steps a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.index_auth {
    width: 500px;
    margin: 0 auto;
}

#status_buttons,
#statuses {
    text-align: center;
}

#statuses {
    width: 300px;
    margin: 0 auto;
}

#statuses fieldset {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #3399cc;
}

#statuses fieldset legend {
    color: #3399cc;
    font-size: 11px;
}

.operator_text {
    margin: 0 20px;
    background-color: #bbf3ff;
    border: 1px solid #000000;
}

.abonent_answers {
}

.answer_block,
.center_block {
    padding: 5px 10px;
    border: 1px solid #000000;
}

.answer_block {
    position: relative;
    margin: 10px 10px 10px 0;
}

.answer_block .tooltip {
    position: absolute;
    right: -270px;
    top: 485px;
    width: 250px;
    font-size: 11px;
}

.width_col {
    float: left;
    width: 250px;
}

.center_block {
    width: 250px;
    margin: 10px auto;
    text-align: center;
}

.answer_block input,
.answer_block textarea {
    width: 100%;
}

.answer_block select {
    max-width: 250px;
    font: normal 0.85em tahoma, sans-serif;
}

#main textarea {
    padding: 5px;
    line-height: 140%;
}

.buttons {
    margin: 10px;
}

#main button {
    padding: 10px;
    background-color: #ccffff;
    border: 1px solid #3399cc;
    color: #0586c7;
}

#main button:hover {
    background-color: #99ccff;
}

input,
textarea,
button {
    font-family: tahoma, sans-serif;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px !important;
}

.comment {
    margin: 10px 0;
}

#comment_text {
    height: 70px;
}

.operator_help {
    margin: 10px 0;
}

#top_buttons {
    width: 250px;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
}

#top_buttons fieldset {
    padding: 5px;
    border: 1px solid #3399cc;
}

#top_buttons fieldset legend {
    margin-left: 5px;
    color: #3399cc;
    font-size: 11px;
}


#top_buttons button {
    width: 150px;
}

#additional_buttons {
    float: right;
}

#popup_body {
    padding: 20px;
}

#popup_body li {
    list-style: inside;
}

.divider_mid {
    clear: both; 
    height: 0; 
    margin: 10px 0;
    border: 0 solid #ccc; 
    border-top-width: 2px; 
}

.next_call {
    font-size: 2em;
    text-align: center;
    line-height: 200%;
}

.next_call button {
    width: 200px;
    padding: 30px 0 !important;
}

.new_call_timer {
    font-size: 0.8em;
}

.new_call_timer .sec_dig {
    color: #ff0000;
    font-size: 1.5em;
}

.errors {
    color: #ff0000;
    font-weight: bold;
}

#new_call_form {
    display: none;
}

.field_comment {
    display: none;
    margin: 5px 0;
    color: #ff0000;
    font-size: 85%;
    font-weight: bold;
}

.answer_title {
    margin-top: 10px;
    font-size: 150%;
    font-weight: bold;
    text-align: center
}

td.section {
    font-weight: bold;
    text-align: center;
}

.service_info {
    margin: 20px;
    text-align: center;
}

.service_info .value {
    font-weight: bold;
}

.holiday_message {
    margin-left: 10px;
    color: #ff0000;
    font-weight: bold;
}

#popup_body table td{
   padding: 5px;
   font-size: 0.9em;
}

#left-info, #rubricator{
 border: 1px solid black;
 width: 100%;
 margin-top: 0px;
 padding: 10px;
 margin-bottom: 25px;
}

#perezvon-info{
 border: 1px solid black;
 width: 98%;
 padding: 10px;
 margin: 0 auto;
 margin-top: 20px;
}

#load-base{
 width: 350px;
 padding: 10px;
 margin: 0 auto;
 text-align: center;
}

#call_count{
 width: 1000px;
 margin: 0 auto;
 padding-top: 20px;
}

#call_count_stat{
 width: 1200px;
 margin: 0 auto;
 padding-top: 20px;
}

#left_call{
	float: left;
	width: 25%;
	margin-top: 20px;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 25px;	
}

#left_call  ul {
	list-style: disc;
	padding: 5px;
	padding-left: 10px;	
}

#left_call  ul li{
	padding: 2px;
	margin-left: 10px;
	
}
#center_call{
	width: 45%;
	margin: 0 auto;
}
#right_call{
	float: right;
	width: 25%;
	border: 1px solid black;
	margin-top: 20px;
	padding: 10px;
	padding-bottom; 25px;
}

#right_call .input{
	width: 100%;
}

#right_call .center{
	text-align: center;
	padding: 10px;
}

#right_call .submit{
	width: 100px;
	font-weight: bold;
}

#load-base{
 width: 850px;
 padding: 10px;
 margin: 0 auto;
 text-align: center;
}
.subquest{
	float: left;
	width: 20px;
	height: 20px;
}
.f_group{
	color: red;
}
.s_group{
	color: blue;
}

.hidden-div{
 display:none;
}