/* 1. Footer
-------------------------------------------------- */

#footer				{ font-size:.9em; color:#f8f8f8; margin-top: 100px; margin-bottom:10px; padding:20px 40px; background:#667e72; }
#footer a			{ color:#fff; }
#footer strong		{ color:#a1b3aa; text-shadow:0 -1px 0 #000; margin-bottom:5px; border-bottom:1px solid; display:block; }

#footer ul 				{ width:100%; }
#footer ul  img			{ vertical-align:-4px; }
#footer ul#account		{ width:100%; }
#footer ul#account img	{ margin-top:3px; }

#footer hr			{ border:0!important; }