/* 1. Search
-------------------------------------------------- */

#search-form{
    width: 450px;
    margin: 0 auto;
}

#search-form .width700{
    width: 750px;
}    

#search-form p{
    margin-bottom: 10px;
    padding-top: 0px;
    line-height: 0.1em;
}

#search-form p.center{
    text-align: center;
}

#search-form label {
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 10px;
    padding-top: 3px;
    clear: left;    
}

#search-form .width300{
	width: 300px;
}	

#search-form .width200{
	width: 200px;
}

#search .content{
    padding-left: 25px;
      }
       
#search table.search{
        border: 0px solid red;
            margin: 0 auto;
}
    
#search table.search td.noborder{
        border-left: 0px;
            border-right: 0px;
}

#search table.no-border{
    border: 0px;
}

#search table.no-border td, #search table.no-border th{
    border: 0px;
}

#search .width50{
    width: 50px;
}   

